body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("https://i.gifer.com/8ovE.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.c1{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    overflow: auto;
    flex-direction: column;
    background-color: rgba(249, 249, 249, 0.777);
    padding-top: 10px;
    padding-bottom: 30px;
}
.c2{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    overflow: auto;
    flex-direction: column;
    background-color: rgba(249, 249, 249, 0.777);
    padding-top: 10px;
    padding-bottom: 30px;
}
